.main{
    display: inline-block;
}

.subMain{
    display: flex;
    flex: 1 0;
    padding: 0 40px;
}

.form {
    display: inline-block;
    flex: 1 0;
    padding: 0 40px;
}

label{
    margin-bottom: 20px;
}

button{
    padding: 10px 40px;
    margin-left: 30px;
}

input{
    display: block;
    border: none;
    background: #ffffff;
    font-size: 13px;
    padding: 6px 30px 6px 10px;
    border-radius: 1px;
    border: 1px solid #eeeeee;
}