<div class = "main">
    <div class = "subMain">
    <form #form= "ngForm">
    <label class = "label">
        Creadit card number:
        <input class = "input" type = "text" name= "creditcardnumber" 
        placeholder= "Enter 16-digit card number" credit-card-directive>
    </label>
    <label class = "label" 
        tooltip = "3 digits, back of your card">
        Enter your security code:
        <span>
        (?)
        </span>
        <input class = "input" type = "text" name= "securitycode" 
        credit-card-directive>
    </label>
    </form>
    </div>
    <div margin-left = 30px>
        <button type = "submit ">Pay</button>
    </div>
    </div>