.div{
    display: inline-block;
}

.subdiv{

    padding: 0 40px;
}

.form{
    flex: 1 0;
    padding: 0 40px;
}

input{
    display: block;
    border: none;
    background: #ffffff;
    font-size: 13px;
    padding: 6px 30px 6px 10px;
    border-radius: 1px;
    border: 1px solid #eeeeee;
}

label {
    margin-bottom: 20px;
  }

textarea{
display: block;
border: 1px solid #eeeeee;
background: #ffffff;
font-size: 13px;
padding: 6px 30px 6px 30px;
border-radius: 2px;;
  }

  select{
    display: block;
    background: #ffffff;
    font-size: 13px;
    padding: 6px 30px 6px 10px;
    border-radius: 1px;
    border: 1px solid #eeeeee;
  }

button{
    padding: 6px 30px 6px 10px;
}