.app {
font-family: serif;
font-size: 20px;
}

.nav{
    margin: 0 0 10px;
     padding: 0 0 10px;
    border-bottom: 1px solid white;
    a {
        background: #9f72e6;
        color: white;
        padding: 4px 2px;
        margin: 0 2px;
        border-radius: 5px;
        font-size: 25px;
    }
}

.header, .footer{
    height: 100px;
    background: #666;
    color: #fff;
  }

  
