.app {
font-family: serif;
font-size: 20px;
}

.nav{
    margin: 0 0 10px;
    padding: 0 0 20px;
    border-bottom: 1px solid white;
    a {
        background: #3a4250;
        color: white;
        padding: 4px 10px;
        margin: 0 2px;
        border-radius: 5px;
        font-size: 30px;
    }
}

.header, .footer{
    height: 100px;
    background: #666;
    color: #fff;
  }

  
